{
  "plugins": [
    "transform-object-rest-spread",
  ],
  "presets": [
    "es2015"
  ],
  "env": {
    "development": {
      "plugins": [
        "inline-dotenv"
      ]
    },
    "test": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": "./.env.test"
          }
        ]
      ]
    }
  }
}