{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",

  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "always"
      }
    }
  ]
}
