openapi: "3.0.0"
info:
  version: 1.0.0
  title: Image Renderer
servers:
  - url: https://image-renderer.api.wuway.com
    description: Production
  - url: https://image-renderer.api.staging.wuway.com
    description: Staging
paths:
components:
  schemas:
    ResourceId:
      type: integer
      format: int32
      minimum: 0
    Counter:
      type: integer
      format: int32
      minimum: 0
    Error:
      required:
        - code
        - message
        - name
        - status
      properties:
        message:
          type: string
        status:
          type: integer
          format: int32
        code:
          type: string
        name:
          type: string
  parameters:
    acceptLanguageParam:
      name: Accept-Language
      description: Accept-Language for which the data should be fetched
      in: header
      required: false
      schema:
        type: string
    offsetParam:
      name: offset
      in: query
      description: The pagination offset
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 1000
        default: 0
    limitParam:
      name: limit
      in: query
      description: The pagination limit
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 1000
        default: 25
    sortDirectionParam:
      name: sortDirection
      in: query
      description: Sorting direction
      required: false
      schema:
        type: string
        enum:
          - asc
          - desc
        default: asc
